.imgdet{
    height: 400px;
    width: 500px;
}
.prd1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    align-items: center;
    
}
.cart {
  margin-top: 12px !important;
  background: #ec4899;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.cart:hover {
  background-color: #2563eb;
  color: black;
}
.cart1 {
  margin-top: 12px !important;
  background: #2563eb;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.cart1:hover {
  background-color: #ec4899;
  color: black;
}
.cart2 {
  margin-top: 12px !important;
  background: goldenrod;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.cart2:hover {
  background-color: #ec4899;
  color: black;
}
.cart-count{
  background:red;
  color:white;
  font-size:12px;
  padding:2px 6px;
  border-radius:50%;
  margin-left:4px;
}
.top-back {
  margin-bottom: 15px;
}

.back-btn {
  background: #00c8ff;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.back-btn:hover {
  background: #009ec7;
}
