.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top-btn:hover {
  transform: scale(1.1);
  background-color: #0f55bd;
}
