.profile{
    background-color: transparent;
    color: gray;
    font-size: 25px !important;
    margin-top: 10px;
         transition: 0.3s;

}
.cartdownload{
    background-color: transparent;
    color: gray;
    font-size: 25px !important;
    padding: 20px;
     margin-top: 10px;
     transition: 0.3s;
}
.moonicon{
     background-color: transparent;
    color: gray;
    font-size: 25px !important;
    padding: 0px;
      margin-top: 10px;
     transition: 0.3s;

}
.navbar-brand{
font-size: 30px !important;
}
.nav-link{
    font-size: 20px !important;
    font-weight: 700 !important;
    color: black !important;
}
.hero {
  background-color: #c8d7f8;
  height: 500px;
  width: 1343px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hero-container {
  display: flex;
  align-items: start;
}

.hero-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  font-family: ;
  align-items: start;
}

.price {
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.offer {
  font-size: 18px;
  margin-bottom: 25px;
}

.offer span {
  color: red;
  font-weight: bold;
}

.hero-btn {
  padding: 12px 25px;
  background-color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.hero-btn:hover {
  background-color: #f1f1f1;
}

.hero-image img {
  width: 500px;
}
.box1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  align-items: center;
  text-align: start;
  gap: 15px !important;
  background-color: rgb(182, 181, 181);
  height: 70px;
  width: 250px;
  border-radius: 5px;
}
.boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
.tr2{
  display: flex;
  flex-direction: column;
}
.tr2 h5{
  padding: 0;
  margin: 0;
}
.box2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  align-items: center;
  text-align: start;
  gap: 15px !important;
  background-color: rgb(182, 181, 181);
  height: 70px;
  width: 250px;
  border-radius: 5px;
}
.box3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  align-items: center;
  text-align: start;
  gap: 15px !important;
  background-color: rgb(182, 181, 181);
  height: 70px;
  width: 250px;
  border-radius: 5px;
}
.box4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  align-items: center;
  text-align: start;
  gap: 15px !important;
  background-color: rgb(182, 181, 181);
  height: 70px;
  width: 250px;
  border-radius: 5px;
}
.truck{
  background-color: transparent;
    color: black;
    font-size: 35px !important;
     transition: 0.3s;
}
.ad1{
  margin-top: 30px;
  padding-left: 110px;
  font-weight: 600;
  color: black;
  font-family: cursive;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px 30px;
}

.heading {
  font-size: 28px;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background: #fff;
  transition: 0.3s;
}

.product-card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  padding: 10px;
}

.card-body {
  /* padding: 15px; */
  padding-left: 10px !important;
}

.category {
  font-size: 13px;
  color: gray;
}

.card-body h3 {
  font-size: 16px;
  margin: 6px 0;
  
}

.rating {
  font-size: 14px;
  color: #fbbf24;
}

.price {
  margin-top: 10px;
}

.new {
  color: #2563eb;
  font-weight: bold;
  margin-right: 8px;
}

.old {
  text-decoration: line-through;
  color: gray;
  margin-right: 8px;
}

.off {
  font-size: 13px;
}

.cart {
  margin-top: 12px !important;
  background: #ec4899;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
margin-bottom: 15px;
}
/* Image container */
.img-box {
  overflow: hidden;
  height: 250px;
}

/* Image */
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.4s ease;
}

/* Zoom effect on hover */
.img-box img:hover  {
  transform: scale(1.15);
  cursor: pointer;
}
.firstimage img{
  height: 400px;
  width: 600px;
  
}
.ad2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c8d7f8;
  margin: 0%;
  padding: 0 !important;
}
.firsttext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.firsttext h3{
  color: black;
  font-size: 40px;
  font-weight: 600;
  padding-right: 75px;
  gap: 0;
}
.btn3{
  border-radius: 10px;
  height: 50px;
  width: 150px;
  font-size: 18px;
  margin-right: 60px;
}
.btn3:hover{
 background-color: rgb(0, 140, 255);
 color: white;
}
.ft1{
  background-color: rgba(0, 0, 0, 0.863) ;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.ft1 p{
  margin: 0%;
}
.ft2{
  color: white;
  
}
.ft2:hover{
  cursor: pointer;
  color: #c8d7f8;

}